* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}

@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 300;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 700;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.ttf) format('truetype');
}

body {
  color: $text-color;
  // font-family: $font-family-main;
  font-family: 'KoPub Dotum';
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  // font-family: $font-family-headings;
  font-family: 'KoPub Dotum';
  line-height: 1.2;
  margin: 0.67em 0;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: top;
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

/* Highlight for code */
.highlight {
  background-color:#272727;
}
.highlight pre {
  padding:10px 0.5em;
}
pre,
code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  font: 14px/1.625em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  padding: 0 0.5em;
}
.highlight {
  .hll { background-color: #ffffcc }
  .err { color: #ce342c } /* Error */
  .c  { color: #818181 } /* Comment */
  .g  { color: #ffffff } /* Generic */
  .k  { color: skyblue } /* Keyword */
  .l  { color: #ffffff } /* Literal */
  .n  { color: #ffffff } /* Name */
  .o  { color: #ffffff } /* Operator */
  .x  { color: #ffffff } /* Other */
  .p  { color: #ffffff } /* Punctuation */
  .cm { color: #818181 } /* Comment.Multiline */
  .cp { color: #d1c2f4 } /* Comment.Preproc */
  .c1 { color: #818181 } /* Comment.Single */
  .cs { color: #818181 } /* Comment.Special */
  .gd { color: #ce342c } /* Generic.Deleted */
  .ge { color: #c000c0; text-decoration: underline } /* Generic.Emph */
  .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
  .gh { color: #ffffff } /* Generic.Heading */
  .gi { color: #27b42c } /* Generic.Inserted */
  span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
  .gp { color: #ffffff } /* Generic.Prompt */
  .gs { color: #ffffff } /* Generic.Strong */
  .gu { color: #ffffff } /* Generic.Subheading */
  .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
  .kc { color: #ff4287 } /* Keyword.Constant */
  .kd { color: #b6e382 } /* Keyword.Declaration */
  .kn { color: #ff4287 } /* Keyword.Namespace */
  .kp { color: #ff4287 } /* Keyword.Pseudo */
  .kr { color: #ff4287 } /* Keyword.Reserved */
  .kt { color: #bdb76b } /* Keyword.Type */
  .ld { color: #ffffff } /* Literal.Date */
  .m  { color: #ffffff } /* Literal.Number */
  .s  { color: #ffe580 } /* Literal.String */
  .na { color: #b6e382 } /* Name.Attribute */
  .nb { color: #ffffff } /* Name.Builtin */
  .nc { color: #b6e382 } /* Name.Class */
  .no { color: #87ceeb } /* Name.Constant */
  .nd { color: #ffffff } /* Name.Decorator */
  .ni { color: #ffdead } /* Name.Entity */
  .ne { color: #ffffff } /* Name.Exception */
  .nf { color: #ffffff } /* Name.Function */
  .nl { color: #ffffff } /* Name.Label */
  .nn { color: #ffffff } /* Name.Namespace */
  .nx { color: #ffffff } /* Name.Other */
  .py { color: #ffffff } /* Name.Property */
  .nt { color: #ff4287 } /* Name.Tag */
  .nv { color: #ffffff } /* Name.Variable */
  .ow { color: #ffffff } /* Operator.Word */
  .w  { color: #ffffff } /* Text.Whitespace */
  .mf { color: #ffffff } /* Literal.Number.Float */
  .mh { color: #ffffff } /* Literal.Number.Hex */
  .mi { color: #ffffff } /* Literal.Number.Integer */
  .mo { color: #ffffff } /* Literal.Number.Oct */
  .sb { color: #ffffff } /* Literal.String.Backtick */
  .sc { color: #ffffff } /* Literal.String.Char */
  .sd { color: #ffffff } /* Literal.String.Doc */
  .s2 { color: #ffe580 } /* Literal.String.Double */
  .se { color: #ffffff } /* Literal.String.Escape */
  .sh { color: #ffffff } /* Literal.String.Heredoc */
  .si { color: #ffffff } /* Literal.String.Interpol */
  .sx { color: #ffffff } /* Literal.String.Other */
  .sr { color: #ffffff } /* Literal.String.Regex */
  .s1 { color: #ffe580 } /* Literal.String.Single */
  .ss { color: #a47bea } /* Literal.String.Symbol */
  .bp { color: #ffffff } /* Name.Builtin.Pseudo */
  .vc { color: #98fb98 } /* Name.Variable.Class */
  .vg { color: #98fb98 } /* Name.Variable.Global */
  .vi { color: #ffffff } /* Name.Variable.Instance */
  .il { color: #ffffff } /* Literal.Number.Integer.Long */
  .bash .nv {
    user-select: none;
  }
}

.highlight {
  .p  { color: #87ceeb }
  .kr { color: #87ceeb }
  .nf { color: #b899ff }
  .nt { color: #87ceeb }
  .nv { color: #b6e382 }
}
.highlight * { color: #eaeaea }
